@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --Green: #B9FF66;
  --Dark: #191A23;
  --Gray: #F3F3F3;
}

/* body {
  overflow-x: hidden;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  transition: .3s ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#Header {
  margin-bottom: 140px;
}

#Navbar {
  position: fixed;
  z-index: 98;
  background: #fff;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

#NavLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

#NavLinks a {
  font-size: 20px;
}

.rq {
  padding: 20px 35px;
  border: 1px solid #000;
  border-radius: 15px;
  transition: .3s ease-in;
}

.rq:hover,
.ProposalBtn:hover {
  border-radius: 1px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

#Hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 160px 0;
  padding: 0 100px;
  height: 90%;
}

#HeroText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 45px;
  width: 530px;
}

.HeroHead {
  font-size: 60px;
  font-weight: 700;
}

.HeroSub {
  font-size: 20px;
  font-weight: 300;
}

.consultationBtn,
.ProposalBtn,
.TeamBtn,
.ContactSendBtn {
  display: inline-block;
  font-size: 20px;
  padding: 20px 35px;
  background: var(--Dark);
  border-radius: 15px;
  transition: .3s ease-in;
  color: #fff;
  cursor: pointer;
}

.consultationBtn:hover,
.ProposalBtn:hover,
.TeamBtn:hover,
.ContactSendBtn:hover {
  transform: scale(1.025);
  background: var(--Green);
  color: var(--Dark);
}

.SliderCon {
  overflow: hidden;
  background: white;
  white-space: nowrap;
  margin: 0 100px;
  position: relative;
}

.CarouselLogo {
  display: flex;
  align-items: center;
  margin: 0 100px;
  filter: grayscale(100%);
  cursor: pointer;
  transition: .3s ease-in;
}

.CarouselLogo:hover {
  filter: grayscale(0%);
}

.SliderTrack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(250px * 8);
  animation: scroll 20s linear infinite;
}

.SliderTrack:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.Section {
  padding: 0 100px;
  margin-bottom: 140px;
}

.SectionTextCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SectionText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.SectionHead {
  font-size: 40px;
  height: 40%;
  background-image: linear-gradient(120deg, #B9FF66 0%, #B9FF66 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 7px;
  border-radius: 6px;
}

.SectionSub {
  width: 580px;
  font-size: 18px;
  font-weight: 300;
}

#Services {
  margin-bottom: 140px;
}

#ServicesCards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.ServiceCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 310px;
  padding: 50px;
  gap: 70px;
  border: 1px solid var(--Dark);
  box-shadow: 0px 5px var(--Dark);
  border-radius: 45px;
  transition: .3s ease-in;
  cursor: pointer;
}

.ServiceCard:hover {
  box-shadow: 0px 0px var(--Dark);
}

.ServiceCardText {
  display: flex;
  flex-direction: column;
  gap: 90px;
  width: 220px;
  justify-content: space-between;
}

.ServiceCardHead {
  font-size: 30px;
  background-image: linear-gradient(#B9FF66 0%, #B9FF66 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 7px;
  border-radius: 6px;
}

#SEO {
  background: var(--Gray);
}

#PPCA {
  background: var(--Green);
}

#PPCA .ServiceCardHead {
  background-image: linear-gradient(#fff 0%, #fff 100%);
}

#SMM {
  background: var(--Dark);
}

#SMM .ServiceCardHead {
  background-image: linear-gradient(#fff 0%, #fff 100%);
}

#EM {
  background: var(--Gray);
}

#CC {
  background: var(--Green);
}

#CC .ServiceCardHead {
  background-image: linear-gradient(#fff 0%, #fff 100%);
}

#AT {
  background: var(--Dark);
}

#Proposal {
  padding: 25px 100px;
  margin-bottom: 140px;
}

.ProposalCon {
  position: relative;
  height: 345px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--Gray);
  border-radius: 45px;
  padding: 60px;
}

.ProposalText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  height: 220px;
  width: 500px;
}

.ProposalHead {
  font-size: 30px;
  font-weight: 500;
}

.ProposalSub {
  font-size: 18px;
  font-weight: 300;
}

.ProposalImg {
  position: absolute;
  right: 0;
}

.CaseStudiesCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Dark);
  margin-top: 80px;
  padding: 70px 60px;
  border-radius: 45px;
}

.CaseStudy {
  padding: 0 65px;
  border-right: 1px solid #fff;
}

.CaseStudy:first-child {
  padding-left: 0;
}

.CaseStudy:last-child {
  border-right: none;
  padding-right: 0;
}

.CaseStudyText {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.CaseStudyLM {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  color: var(--Green);
  fill: var(--Green);
}

.CaseStudyLM svg {
  width: 20px;
  height: 20px;
}

.TeamCards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.TeamCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 385px;
  height: 330px;
  padding: 40px 35px;
  border: 1px solid var(--Dark);
  box-shadow: 0px 5px var(--Dark);
  border-radius: 45px;
  transition: .3s ease-in;
  cursor: pointer;
}

.TeamCard:hover {
  box-shadow: 0px 0px var(--Dark);
}

.TeamSocial {
  position: absolute;
  right: 35px;
}

#WorkingProcessCards {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.WorkingProcessCard {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  border: 1px solid var(--Dark);
  box-shadow: 0px 5px var(--Dark);
  border-radius: 45px;
  transition: .3s ease-in;
  cursor: pointer;
  width: 100%;
}

.WorkingProcessCard:hover {
  background: var(--Green);
}

.WorkingProcessCard.open {
  background: var(--Green);
}

.WorkingProcessCardDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WorkingProcessCardText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.WorkingProcessCardNo {
  font-size: 60px;
}

.WorkingProcessCardHead {
  font-size: 30px;
}

.WorkingProcessCardHidden {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.WorkingProcessCardHidden.hidden {
  display: none;
}

.WorkingProcessCardDivider {
  width: 100%;
  margin: 30px 0;
  border: 1px solid var(--Dark);
}

.WorkingProcessCardSub {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
}

.TeamInfo {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}

.TeamDesc {
  padding-top: 30px;
}

.TeamBtn,
.ContactSendBtn {
  margin-top: 40px;
}

.ContactUsCon {
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}

.ContactUsCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px 80px;
  background: var(--Gray);
  border-radius: 45px;
}

.ContactUsDetails {
  width: 100%;
}

.ContactRadios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  margin-bottom: 40px;
}

.ContactRadios label {
  font-size: 18px;
}

.ContactRadioBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ContactRadio {
  width: 30px;
  height: 30px;
  border: 1px solid var(--Dark);
  border-radius: 50px;
  position: relative;
}

.ContactRadio:checked {
  background: var(--Green);
}

.ContactRadio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: var(--Green);
  border-radius: 50%;
}

.ContactForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

.ContactInputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 550px;
}

.ContactInputBox label {
  font-size: 16px;
}

.ContactInputBox input,
.ContactInputBox textarea {
  font-size: 18px;
  background: #fff;
  border: 1px solid var(--Dark);
  border-radius: 15px;
  padding: 18px 30px;
  width: 100%;
}

.ContactInputBox textarea {
  resize: none;
  height: 190px;
}

.ContactInputBox input:active,
.ContactInputBox textarea:active {
  outline: 0;
}

.ContactImg {
  position: absolute;
  right: -320px;
}

.ContactSendBtn {
  width: 100%;
  text-align: center;
}

#Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

#Footer * {
  color: white;
}

#FooterCon {
  display: flex;
  flex-direction: column;
  background: var(--Dark);
  width: 100%;
  padding: 55px 60px 50px;
  border-radius: 45px 45px 0 0;
}

.FooterNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 65px;
}

.FooterLinks {
  display: flex;
  align-items: center;
  gap: 40px;
}

.FooterLinks a {
  font-size: 18px;
  text-decoration: underline;
}

.FooterSocials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.FooterContact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}

.FooterContactDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 330px;
}

.FooterContactDetails * {
  padding-bottom: 20px;
}

.FooterContactDetails *:first-child {
  padding-bottom: 25px;
}

.FooterContactDetails *:last-child {
  padding-bottom: 0;
}

.FooterContactSubscribe {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 60px;
  background: #292A32;
  border-radius: 15px;
}

.FooterContactSubEmail {
  background: transparent;
  font-size: 18px;
  outline: 0;
  border: 1px solid #fff;
  padding: 22px 35px;
  border-radius: 15px;
}

.FooterContactSubEmail:active {
  outline: 0;
}

.FooterContactSubEmail::placeholder {
  color: #fff;
}

#Footer .FooterContactSubBtn {
  outline: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 22px 35px;
  background: var(--Green);
  border-radius: 15px;
  transition: .3s ease-in;
  color: #191A23;
  cursor: pointer;
  font-size: 20px;
}

.FooterContactSubBtn::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  transition: all 0.4s ease;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.FooterContactSubBtn:hover::before {
  bottom: 0;
  border-radius: 0;
}

.FooterCopyright {
  display: flex;
  align-items: center;
  padding-top: 50px;
  gap: 40px;
  font-size: 18px;
}

.FooterCopyright a {
  text-decoration: underline;
}

@media screen and (max-width: 1450px) {
  #Navbar {
    padding: 25px;
    border: 1px solid black;
  }

  #NavLinks {
    border: 1px solid black;
    position: fixed;
    padding: 20px;
    background: #fff;
    z-index: 98;
    top: 112px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  #NavLinks.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #Hero {
    padding: 0 40px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  #HeroText {
    width: 100%;
  }

  .Section {
    width: 100%;
  }

  .SectionText {
    flex-direction: column;
    width: 100%;
  }

  .SectionSub {
    width: 100%;
  }

  #ServicesCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ProposalCon {
    flex-direction: column;
    gap: 40px;
  }

  .ProposalImg {
    display: none;
  }

  .CaseStudiesCon {
    flex-direction: column;
  }

  .CaseStudy {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    padding: 40px 0;
  }

  .CaseStudy:first-child {
    border-top: none;
  }

  .CaseStudy:last-child {
    border-bottom: none;
  }

  .TeamCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ContactUsCon {
    width: 100%;
    padding: 40px;
    justify-content: center;
  }

  .ContactRadios {
    flex-direction: column;
    align-items: flex-start;
  }

  .ContactRadio {
    display: flex;

  }

  .ContactInputBox {
    width: 100%;
  }

  .ContactImg {
    display: none;
  }

  #Footer {
    padding: 0 10px;
  }

  #FooterCon {
    width: 100%;
  }

  .FooterNav {
    flex-direction: column;
    gap: 40px;
  }

  .FooterLinks {
    flex-direction: column;
  }

  .FooterContact {
    flex-direction: column;
    gap: 20px;
  }

  .FooterContactSubscribe {
    flex-direction: column;
  }

  .FooterCopyright {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 750px) {
  #Hero img {
    width: 80%;
  }

  .Section {
    padding: 0 40px;
  }

  .SectionTextCon,
  .SectionText {
    width: 100%;
  }

  .SectionTextCon {
    flex-direction: column;
  }

  .ServiceCard {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .ServiceCardText {
    gap: 30px;
    width: 100%;
  }

  #Proposal {
    padding: 0 40px;
  }

  .ProposalCon {
    width: 100%;
    height: 100%;
  }

  .ProposalText {
    width: 100%;
    height: 100%;
  }

  .WorkingProcessCard {
    padding: 40px 25px;
  }

  .WorkingProcessCardNo {
    display: none;
  }

  .WorkingProcessCardDivider {
    margin: 15px 0;
  }

  .FooterSocials {
    flex-direction: column;
  }

  .FooterContactSubscribe {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .HeroHead {
    font-size: 40px;
  }

  .HeroSub {
    font-size: 16px;
  }

  #Hero img {
    width: 70%;
  }

  .Section {
    padding: 0 25px;
  }

  #ServicesCards {
    width: 100%;
  }

  .ServiceCard {
    width: fit-content;
    height: fit-content;
  }

  .CaseStudiesCon {
    padding: 40px 25px;
  }

}

@media screen and (max-width: 500px) {
  .SliderCon {
    margin: 0 40px;
  }

  .Section {
    padding: 0 15px;
  }

  #Proposal {
    padding: 0 15px;
  }

  .ProposalCon {
    padding: 25px;
  }

  .ServiceCard {
    padding: 30px;
  }

  .CaseStudy {
    padding: 20px 0px;
  }

  .CaseStudyText {
    font-size: 14px;
  }

  .CaseStudyLM {
    font-size: 16px;
  }

  .WorkingProcessCardHead {
    font-size: 20px;
  }

  .WorkingProcessCardSub {
    font-size: 14px;
  }

  .WorkingProcessCardIcon {
    width: 30px;
    height: 30px;
  }

  .TeamCard {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 400px) {

  #NavLinks {
    top: 95px;
  }

  #Logo img {
    width: 70%;
  }

  .SliderCon {
    margin: 0 20px;
  }

  .Section {
    padding: 0 10px;
  }

  .TeamCard {
    padding: 25px;
  }

  .TeamSocial {
    right: 25px;
  }

  .TeamInfo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ContactUsCon {
    padding: 25px;
  }

  .ContactInputBox input,
  .ContactInputBox textarea {
    padding: 15px 20px;
  }

  #Footer {
    padding: 0;
  }

  #FooterCon {
    padding: 40px 45px 20px;
  }

  .FooterContactDetails {
    width: 100%;
  }

  .FooterContactSubscribe {
    padding: 10px;
  }

  .FooterContactSubBtn,
  .FooterContactSubEmail {
    width: 100%;
  }

  .ServiceCard img {
    width: 60%;
    height: 60%;
  }
}

@media screen and (max-width: 330px) {

  .rq {
    padding: 10px 20px;
  }

  #HeroText {
    gap: 20px;
  }

  .HeroHead {
    font-size: 30px;
  }

  .HeroSub {
    font-size: 14px;
  }

  .ServiceCard {
    padding: 20px;
  }

  .ServiceCardText {
    gap: 20px;
  }

  .ServiceCardHead {
    font-size: 24px;
  }

  .consultationBtn,
  .ProposalBtn,
  .TeamBtn,
  .ContactSendBtn {
    font-size: 15px;
    padding: 10px 20px;
  }

  .WorkingProcessCard {
    padding: 40px 20px;
  }

  #FooterCon {
    padding: 30px 20px 15px;
  }
}

@media screen and (max-width: 250px) {
  .HeroHead {
    font-size: 20px;
  }

  .HeroSub {
    font-size: 12px;
  }
}